@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "cinzel";
}
p {
  font-family: "cormorant";
  font-size: 18px;
}

@layer utilities {
  .btn {
    @apply text-white bg-secondaryColor px-5 py-2 font-cinzel uppercase font-normal text-lg transition-colors hover:bg-[#5d3000] shadow-2xl shadow-black;
  }
  .sec-btn {
    @apply text-bgColor bg-transparent border-[1px] border-solid border-bgColor px-5 py-2 font-cinzel uppercase font-normal text-lg transition-colors;
  }
  .acc {
    @apply text-secondaryColor;
  }
}
