@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "cinzel";
}
p {
  font-family: "cormorant";
  font-size: 20px;
}

@layer utilities {
  .btn {
    @apply text-white bg-secondaryColor px-5 py-2 font-cinzel uppercase font-normal text-[16px] smm:text-lg transition-colors hover:bg-[#5d3000];
  }
  .sec-btn {
    @apply text-bgColor bg-transparent border-[1px] border-solid border-bgColor px-5 py-2 font-cinzel uppercase font-normal text-[16px] smm:text-lg transition-colors;
  }
  .ghost {
    @apply text-secondaryColor bg-transparent border-[1px] border-solid border-secondaryColor px-5 py-2 font-cinzel uppercase font-normal text-[16px] smm:text-lg transition-colors;
  }
  .acc {
    @apply text-secondaryColor;
  }
  .sec-h2 {
    @apply text-3xl sm:text-5xl text-center;
  }
  .section {
    @apply mb-20 px-4 sm:px-10 w-full mx-auto;
  }
  .active {
    @apply bg-secondaryColor;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
