@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "cinzel";
}
p {
  font-family: "cormorant";
  font-size: 20px;
}

@layer utilities {
  .btn {
    @apply text-white bg-secondaryColor px-5 py-2 font-cinzel  border-[1px] border-solid border-secondaryColor uppercase font-normal text-[16px] smm:text-lg transition-colors hover:bg-[#5d3000];
  }
  .sold-out {
    @apply z-10 text-white rounded-full  bg-red-800 absolute bottom-2 right-5 py-2 px-4 uppercase;
  }
  .sec-btn {
    @apply text-bgColor bg-transparent border-[1px] border-solid border-bgColor px-5 py-2 font-cinzel uppercase font-normal text-[16px] smm:text-lg transition-colors duration-300 hover:text-white hover:border-white;
  }
  .ghost {
    @apply text-secondaryColor bg-transparent border-[1px] border-solid border-secondaryColor px-5 py-2 font-cinzel uppercase font-normal text-[16px] smm:text-lg transition-colors duration-300 hover:text-white hover:bg-secondaryColor;
  }
  .acc {
    @apply text-secondaryColor;
  }
  .sec-h2 {
    @apply text-3xl sm:text-5xl text-center;
  }
  .section {
    @apply mb-20 px-4 sm:px-10 w-full mx-auto;
  }
  .active {
    @apply bg-secondaryColor;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.hide-scrollbar {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.hide-scrollbar-y {
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar-y::-webkit-scrollbar {
  width: 0;
}

.hide-scrollbar-x {
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar-x::-webkit-scrollbar {
  height: 0;
}

.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
